# ======================
# VS Code
# ======================
.vscode/

# ======================
# Environment
# ======================
.env
.env.*
!.env.example

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Virtual Environment
# ======================
ZAD/
venv/

# ======================
# Models & Embeddings
# ======================
embeddings/
app/models/weights/
*.bin
*.pt
*.pth

# ======================
# Data
/data/ 

# ======================
# Misc
# ======================
.pytest_cache/
AppDataLocalPackages*